{%extends 'base.html'%}
{%load static%}
{%load staticfiles%}

{% block styles %}
	td {
		text-align:center;
	}
{% endblock styles %}
{%block content%}

<section class="carrito">
	<div align="center" style="padding: 5%">
	<h1>Carro de compras</h1>
	<table border="1px">
		<thead>
			<tr>
				<th>Imagen</th>
				<th>Producto</th>
				<th>Cantidad</th>
				<th>Acción</th>
				<th>Precio</th>
				<th>Subtotal</th>
			</tr>
		</thead>
		<tbody>
		{%for item in cart%}
			{%with product=item.product%}
			<tr>
				<td>
					<img src="/media/{{product.picture}}" width="50%">
				</td>
				<td>
					{{product.name_product}}
				</td>
				<td>
					{{item.quantity}}
				</td>
				<td>
					<p><a class="btn"href="{%url 'cart:cart_remove' product.id%}">Quitar</a></p>
					<form action="{%url 'cart:cart_add' product.id%}" method="post">
						{% csrf_token %}
						{{form.as_p}}
						<input type="submit" value="Update">
					</form>
				</td>
				<td width="15%">
					$ {{item.price}}
				</td>
				<td width="15%">
					$ {{item.total_price}}
				</td>
			</tr>
			{%endwith%}
		{%endfor%}
		<tr>
			<td><h3>Total</h3></td>
			<td colspan="4"></td>
			<td>$ {{cart.get_total_price}}</td>
		</tr>
	</tbody>
</table>
</div>

	<a href="{%url 'catalogo:products'%}"><button>Seguir comprando</button></a>
	<a href="{%url 'orders:create'%}"><button>Pagar</button></a>
</section>
{%endblock content%}
