{%extends 'base.html'%}
{%load static%}
{%block content%}
<section class="carrito">
<h1>Compra, compra compraaaaaaaaaaaaaa</h1>
<table >
	<thead>
		<tr>
			<th>Image</th>
			<th>Product</th>
			<th>Quantity</th>
			<th>Remove</th>
			<th>Price</th>
			<th>SubTotal</th>
		</tr>
	</thead>
	<tbody>
		{%for item in cart%}
			{%with product=item.product%}
			<tr>
				<td>
					<img src="/media/{{product.image.url}}" width="200" height="200">
				</td>
				<td>
					{{product.name}}
				</td>
				<td>
					{{item.quantity}}
					<form action="{%url 'cart:cart_add' product.id%}" method="post">
						{% csrf_token %}
						{{form.as_p}}
						<input type="submit" value="Update">
					</form>

				</td>
				<td>
					<a href="{%url 'cart:cart_remove' product.id%}">Remove</a>
				</td>
				<td>
					$ {{item.price}}
				</td>
				<td>
					$ {{item.total_price}}
				</td>
			</tr>
			{%endwith%}
		{%endfor%}
		<tr>
			<td><h3>Total</h3></td>
			<td colspan="4"></td>
			<td>$ {{cart.get_total_price}}</td>
		</tr>
	</tbody>
</table>

<a href="{%url 'catalogo:products'%}"><button>Keep buying</button></a>
<a><button>Pay</button></a>
</section>
{%endblock content%}
