{%extends 'base.html'%}

{% block titulo %}Perfil de Usuario{% endblock titulo %}

{%block content%}
	<div align="center" style="padding: 3%;">
		<img class="foto" src="{%if request.user.profile.photo %}{{request.user.profile.photo.url}}{%endif%}">
		<h1>Bienvenido {{request.user.username}}</h1>
		<form action="." method="post" enctype='multipart/form-data'>
			{%csrf_token%}
			{{userform.as_p}}
			{{profileform.as_p}}
			<input type="submit" value="Guardar">
		</form>
		<br><br>
		<a href="{%url 'logout'%}">
			<button>Cerrar tu sesión</button>
		</a>
	</div>

{%endblock content%}