{%extends 'base.html'%}
{%load static%}

{% block titulo %}Registro{% endblock titulo %}

{% block styles %}
	<link href="{%static 'css/signin.css'%}" rel="stylesheet">
{% endblock styles %}

{% block content %}
	<br>
		<div align="center" style="padding:3%">
			<h2 aling="center" class="form-signin-heading">Usuario nuevo</h4></div>
			<form class="form-signin" class="form-control" action="." method="post">
			{%csrf_token%}
			{{form.as_p}}
			<input class="btn btn-primary btn-block" type="submit" value="Crear usuario">
			</form>
		</div>

{% endblock content %}