{%extends 'base.html'%}
{%load static%}

{% block titulo %}Login{% endblock titulo %}
{% block content %}
		<br><br><br><br>
		<div align="center">
			{%if form.errors%}
				<p>Tu usuario y contraseña no concuerdan, porfavor intenta nuevamente</p>
				{%else%}
					<p>Ingresa con tu nombre de usuario y contraseña</p>
			{%endif%}

			<form action="{%url 'login'%}" method="post">
				{%csrf_token%}
				{{form.as_p}}
				<input type="hidden" name="next" value="{{next}}"> 
				<input type="submit" value="Iniciar Sesión">
			</form>
			<p> Si quieres registrarte con tu cuenta de <a href="{% url 'social:begin' 'facebook' %}">Facebook</a> ó <a href="{% url 'social:begin' 'twitter' %}">Twitter</a> puedes hacerlos desde estos links.</p>
			<p>Si aún no tienes una cuenta puedes crearla <a href="{%url 'registro'%}">aquí</a></p>
		</div>
{% endblock content %}