{%load static%}
<!DOCTYPE html>
<html lang="es-mx">
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>{% block titulo %}{% endblock titulo %}</title>

		<link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet">
		<link href="{%static 'css/carousel.css'%}" rel="stylesheet">
		<link href="{%static 'css/sticky-footer.css'%}" rel="stylesheet">
		
		<!--<link rel="stylesheet" href="{%static 'css/.css'%}">-->
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
        		<div class="navbar-header">
          			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            		<span class="sr-only"></span>
	            		<span class="icon-bar"></span>
	            		<span class="icon-bar"></span>
	            		<span class="icon-bar"></span>
          			</button>
          			<a class="navbar-brand" href="{%url 'home'%}">Chelapp</a>
        		</div>
        		<div id="navbar" class="navbar-collapse collapse">
          			<ul class="nav navbar-nav navbar-right">
            			<li><a href="#Nosotros">Nosotros</a></li>
                		<li><a href="#Contacto">Contacto</a></li>
            			<li class="dropdown">
            				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sesión <span class="caret"></span></a>
                  			<ul class="dropdown-menu">
			                    {% if request.user.is_authenticated %}
	                  				<li class="navbar-item"><a class="navbar-link" href="{%url 'profile'%}"> Tú perfil </a></li>
	                  				<li class="navbar-item"><a class="navbar-link" href="#"> Nueva compra </a></li>
	                  				<li class="navbar-item"><a class="navbar-link" href="{%url 'logout'%}"> Cerrar sesión </a></li>
	                  				{%else%}
				      				<li class="navbar-item"><a class="navbar-link" href="{%url 'login'%}">  Iniciar sesión</a></li>
								{% endif %}
                  			</ul>
                		</li>
          			</ul>
        		</div>
      		</div>
    	</nav>
		
		{% block content %}
		{% endblock content %}
		

		<footer class="footer">
			<div align="center" style="padding:10px">
	        	<small><em>Copyright© 2016 Chelapp, Inc. &middot;<a href="#">Términos legales</a></em></small><br>
				<small><em>Priscila / Armando / Oswaldo / Aarón</em></small>
			</div>
		</footer>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="{%static 'js/bootstrap.js'%}"></script>
</html>