{% extends "base.html" %}
{% load catalogo_tags %}
{% block titulo %}{{product.name_product}}{% endblock titulo %}
{% block content %}

<div align="center" style="padding-top:8%">
  <table border="1px">
    <tr>
      <td rowspan="5"><img src="/media/{{product.picture}}" width="80%"/></td>
      <td>Nombre: </td>
      <td width="50%" style="text-align: center">{{product.name_product}}</td>
    </tr>
    <tr>
      <td>Tipo: </td>
      <td style="text-align: center">{{product.type_product}}</td></tr>
    <tr>
      <td>Precio: </td>
      <td style="text-align: center">${{product.price}}</td></tr>
    <tr>
      <td>Hecho en:</td>
      <td style="text-align: center"> {{product.country}}</td></tr>
    <tr>
      <td>Descripción: </td>
      <td style="text-align: center">{{product.description}}</td>
    </tr>
  </table>
    <form action="{%url 'cart:cart_add' product.id%}" mehod="POST">
      {% csrf_token %}
      {{form.as_p}}
      <input type="submit" value="Add to cart">
    </form>

    {%show_related product.category 2%}
</div>
{% endblock content %}
