{% extends "base.html" %}
{% block titulo %}Productos{% endblock titulo %}


{% block estilos %}
img {
  height: 250px !important;
}
.row {
  position: relative;
  padding-top: 2%;
}
{% endblock estilos %}
{% block content %}
<div class="row">
    {% for product in products %}

      <div class="col s12 m3">
        <div class="card large">
        <div class="card-image waves-effect">
          <a href="{{product.get_absolute_url}}" ><img class="responsive-img" src="/media/{{product.picture}}"/></a>
        </div>
        <div class="card-content card-title activator grey-text text-darken-4">
          {{product.name_product}}
          <p>
            ${{product.price}}
          </p>
        </div>
      </div>
      </div>



    {% empty %}
      <h2>No hay Pisto :(</h2>
    {% endfor %}
      </div>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
{% endblock content %}
